.overlay-outter {
  position: relative;
  background: url(../imgs/showcase.jpg) center center/cover; 
  height: 100vh;
  width: 100wh;
}

.overlay {
  position: absolute;
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
}
